 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

@mixin title(){
  .title_one,
  .title_two,
  .title_three {
    background-color: HSLA(184, 100%, 42%, 1);
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 100;
    color: white;
    padding: 10px;
  }
}


.content{
  font-family: arial;
  font-size: 14px;
  color: grey;
  height:0px;
  overflow:auto;
}

@mixin hover{
  background-color: HSLA(185, 100%, 45%, 1);
  width:504px;
  height:51px;
}

.b{
  padding:22px;
  height:100%;
  width: 100%;
  font-family: arial;
  font-size: 14px;
  color: grey;
}

//section border color
$b: 1px solid HSLA(185, 100%, 38%, 1);
$br: 5px;


// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  padding:25px;
  @include outer-container;
}

.sec_one {
  border: $b;
  border-radius: $br;
  @include span-columns(6);
  @include shift(3);
  @include title;


}
.title_one:hover {
  @include hover;
}

.sec_two {
  border:$b;
  border-radius: $br;
  @include span-columns(6);
  @include shift(3);
  @include title;

}

.title_two:hover {
  @include hover;
}
.sec_three {
  border: $b;
  border-radius: $br;
  @include span-columns(6);
  @include shift(3);
  @include title;

}

.title_three:hover {
  @include hover;
}











/* .hero-unit {
  margin: 50px auto 0 auto;
  width: 600px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
} */
